repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all
        language: system
        files: "\\.rs$"
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        pass_filenames: false
      - id: dprint
        name: dprint fmt
        entry: dprint fmt
        language: system
        files: "\\.md$"
        pass_filenames: false
